$light: #ebfffb;
$dark: #032535;
$purple: #61234e;
$red: #ff5858;

body {
  margin: 0 !important;
}

#contact-button {
  background: #61234e !important;
  border: 1px solid #61234e !important;

  &:hover {
    background: $light !important;
    color: #61234e !important;
  }
}

i {
  color: $dark;

  &:hover {
    color: $light;
    background: $dark;
    transition: 1s;
    border-radius: 5px;
  }
}

.List {
  width: 100%;
}

.dragged {
  opacity: 0.7;
}

.placeholder {
  opacity: 0.5;
}

.navbar {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 70%,
    #fff 90%
  );
  background-color: transparent !important;

  .navbar-brand {
    font-size: 2rem;
  }
}

// ***********************************************************
// ***********************************************************
//                      Header
// ***********************************************************
// ***********************************************************

#header {
  padding-top: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  // background: url("https://cdn.pixabay.com/photo/2016/11/30/18/14/idea-1873540_960_720.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: contain;
  // color: $light;

  #header-heading {
    color: $purple;
    margin-bottom: -5rem;
    h1 {
      font-size: 3rem;
      transform: rotate(2deg);
      letter-spacing: 2px;
    }

    h2 {
      font-size: 4rem;
      transform: rotate(-1deg);
      letter-spacing: 3px;
    }
  }

  .row {
    position: relative;
    border-bottom: 1px solid $purple;
  }

  #header-text {
    color: $purple;
    background: $purple;
    color: $light;
    margin-top: -5rem;
    // border: 1px solid #006375;
    border-radius: 30px 30px 0 0;
    padding-top:1rem;
    padding-bottom: 1rem;
    position: absolute;
    bottom: 0;
    p {
      font-size: 1.5rem;
      margin-bottom: 0;
    }

    a {
      font-size: 1rem;
      color: #48C0D7;
    }
  }
}

// ***********************************************************
// ***********************************************************
//                       About
// ***********************************************************
// ***********************************************************

#about {
  // background: linear-gradient(
  //     rgba(231, 230, 253, 0.78),
  //     rgba(245, 249, 251, 0.49)
  //   ),
  //   url("https://res.cloudinary.com/pablond/image/upload/e_auto_color,q_auto:eco/a_0/v1566343415/abstract-2055567_960_720.jpg");
  // background-size: cover;
  // background-position: top;
  padding-top: 5rem;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .col-md-4 {
      p {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

        span {
          a {
            span,
            img {
              border-radius: 50% !important;
            }
          }
        }
      }
    }
  }
  #about-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

#about-bottom {
  background: #191919;
  padding-top: 1rem;

  #skills {
    nav {
      a {
        color: $light !important;
      }
    }
  }
}

// ***********************************************************
// ***********************************************************
//                       Certifications
// ***********************************************************
// ***********************************************************

// #certifications {
//   #certifications-content {
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }

// ***********************************************************
// ***********************************************************
//                       Works
// ***********************************************************
// ***********************************************************

#works {
  height: inherit;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  h2 {
    text-align: center;
    color: rgb(235, 255, 251);
    background: rgb(3, 37, 53);
    padding: 10px;
  }

  .container {
    .row {
      .col-md-3 {
        .m-3 {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;

          p {
            width: 100%;
          }
        }
      }
    }
  }
}

// ***********************************************************
// ***********************************************************
//                       Contact
// ***********************************************************
// ***********************************************************

#contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: $dark;

  h1 {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 3rem;
  }
  form {
    //   margin: inherit;
    padding: 30px;
    background: #fff;
    // border: 3px solid $purple;
    border-radius: 30px 5px 30px 5px;

    .form-group {
      width: 100%;
    }

    //   .contact-button {
    //     background: #61234e !important;
    //     border: 1px solid #61234e !important;
    //   }
  }
}

.carousel {
  width: 100%;
  height: 100%;
}
