# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env

# gatsby files
.cache/
public

# Mac files
.DS_Store

# Yarn
yarn-error.log
.pnp/
.pnp.js
# Yarn Integrity file
.yarn-integrity

node_modules/
env/
**/__pycache__/
.vscode/

# Replaced with install scripts
src/data/content.ts
src/data/*.json
gatsby-config.js
images/certifications/*
images/open_source/*