$light: #dbdbdb;
$dark: #191919;
$blue: #6868c1;

body {
  margin: 0 !important;
}
@media (min-width: 768px) {
  #header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-contenujt: space-around;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(27, 26, 26, 0.7)),
      url("./../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $light;

    h1 {
      font-size: 5rem;
    }

    h2 {
      font-size: 3rem;
      transform: rotate(-4deg);
    }

    p {
      font-size: 1.5rem;
    }
  }

  #about {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    #about-top,
    #about-bottom {
      height: 50vh;
    }
  }

  // #module-3 {
  //   // height: 50vh;
  //   display: flex;
  //   justify-content: space-between;
  //   margin-left: 20px;
  //   margin-right: 20px;
  // }

  // #module-4 {
  //   height: 50vh;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   text-align: center;

  //   div {
  //     width: 100%;
  //   }

  //   #certifications-heading {
  //     text-align: center;
  //   }

  //   img {
  //     max-width: 100%;
  //     height: auto;
  //   }
  // }

  #works {
    height: 100vh;
    //   background: $dark;

    //   #works-heading {
    //     text-align: center;
    //     height: 10vh;
    //     color: $light;
    //   }

    //   #works-content {
    //     #main-works-content {
    //       // height: 75vh;
    //       display: -ms-flexbox;
    //       display: flex;
    //       -ms-flex-wrap: wrap;
    //       flex-wrap: wrap;
    //       .work-element {
    //         max-height: 37vh;
    //         -ms-flex: 0 0 33%;
    //         flex: 0 0 33%;
    //         max-width: 33%;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         margin-bottom: 20px;

    //         div {
    //           background: $light;
    //           padding: 10px;
    //           width: 90%;
    //           border: 1px solid black;
    //         }
    //       }

    //       h4 {
    //         text-align: center;
    //       }

    //       img {
    //         max-height: 15vh;
    //         max-width: 100%;
    //         height: auto;
    //         display: block;
    //         margin-left: auto;
    //         margin-right: auto;
    //       }

    //       .technos {
    //         font-style: italic;
    //         text-align: right;
    //         color: $blue;
    //       }
    //     }

    //     #additional-project {
    //       text-align: center;
    //       display: block;
    //       height: 15vh;
    //       color: $light;

    //       a {
    //         color: $light;
    //         display: block;
    //       }
    //     }
    //   }
  }
}
