$light: #ebfffb;
$dark: #032535;
$purple: #61234e;
$red: #ff5858;

body {
  margin: 0 !important;
}

#contact-button {
  background: #61234e !important;
  border: 1px solid #61234e !important;

  &:hover {
    background: $light !important;
    color: #61234e !important;
  }
}

i {
  color: $dark;

  &:hover {
    color: $light;
    background: $dark;
    transition: 1s;
    border-radius: 5px;
  }
}

.List {
  width: 100%;
}

.dragged {
  opacity: 0.7;
}

.placeholder {
  opacity: 0.5;
}

// ***********************************************************
// ***********************************************************
//                      Header
// ***********************************************************
// ***********************************************************

#header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background: linear-gradient(rgba(97, 35, 78, 0.4), rgba(3, 37, 53, 0.8)),
    url("./../assets/imgs/data/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $light;

  div {
    h1 {
      font-size: 4rem;
      letter-spacing: 2px;
    }

    h2 {
      font-size: 6rem;
      letter-spacing: 3px;
    }
  }
  p {
    font-size: 2rem;
  }
}

// ***********************************************************
// ***********************************************************
//                       About
// ***********************************************************
// ***********************************************************

#about {
  background: linear-gradient(
      rgba(231, 230, 253, 0.78),
      rgba(245, 249, 251, 0.49)
    ),
    url("https://res.cloudinary.com/pablond/image/upload/e_auto_color,q_auto:eco/a_0/v1566343415/abstract-2055567_960_720.jpg");
  background-size: cover;
  background-position: top;
  padding-top: 3rem;

  #about-top {
    width: 100%;
    padding-bottom: 1rem;

    #about-img {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;

      img {
        max-width: 200px;
      }
    }
  }

  #about-bottom {
    margin-top: 0;
  }
}

// ***********************************************************
// ***********************************************************
//                       Works
// ***********************************************************
// ***********************************************************

#works {
  height: inherit;
  padding-top: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  h2 {
    text-align: center;
    color: rgb(235, 255, 251);
    background: rgb(3, 37, 53);
    padding: 10px;
  }

  .container {
    .row {
      .col-md-3 {
        .m-3 {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

// ***********************************************************
// ***********************************************************
//                       Contact
// ***********************************************************
// ***********************************************************

#contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(97, 35, 78);

  h1 {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
    color: rgb(235, 255, 251);
    font-size: 3rem;
  }
  form {
    margin: inherit;
    padding: 30px;
    background: rgb(235, 255, 251);
    border-radius: 5px;

    .form-group {
      width: 50vw;
    }

    .contact-button {
      background: #61234e !important;
      border: 1px solid #61234e !important;
    }
  }
}


.carousel {
  width: 100%;
  height: 100%;
}