$light: #dbdbdb;
$dark: #191919;
$blue: #6868c1;

body {
  margin: 0 !important;
}
@media (min-width: 768px) {
  #header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-contenujt: space-around;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(27, 26, 26, 0.7)),
      url("./../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $light;

    h1 {
      font-size: 5rem;
    }

    h2 {
      font-size: 3rem;
      transform: rotate(-4deg);
    }

    p {
      font-size: 1.5rem;
    }
  }
}
